{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Products list</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Product</li>
    </ol>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Sale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                {% if product.category %}
                <td><a href="{{ path('app_category_show', {'id': product.category.id}) }}">{{ product.category }}</a></td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{{ product.price }}</td>
                <td>{{ product.sale }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-3" href="{{ path('app_product_new') }}">Create new</a>
</div>
{% endblock %}
